---
---
.mobile-nav-toggle {
    padding: 0 8px;
}
#header {
    .logo {
        img {
            margin: 0;
            max-height: 40px;
        }
    }
}
#services {
    .box-wrapper {
        margin-bottom: 40px;
    }
    .box {
        height: 100%;
        margin-bottom: 0;
    }
}
#footer {
    .footer-top {
        .footer-info {
            h3 {
                text-transform: unset;
            }
        }
    }
}
